[user]
	email = tom.knapen@two-point-o.be
	name = Tom Knapen
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[alias]
	s = status
	cm = "!f() { git add -A && git commit -m \"$(echo $@)\"; } ; f"
	pull = pull
	push = push
	pfl = push --force-with-lease

	co = checkout 
	cob = checkout -b
	com = checkout master
	cos = checkout staging
	coa = checkout acceptance
	cot = checkout test
	cod = checkout develop
	
	r = "!f() { git rebase -i origin/$1; } ; f"
	rm = rebase -i origin/master
	rs = rebase -i origin/staging
	ra = rebase -i origin/acceptance
	rt = rebase -i origin/test
	rd = rebase -i origin/develop
	rc = !git rebase --continue
	ra = !git rebase --abort
	
	f = fetch
	fr = "!f() { git fetch && git rebase -i origin/$1; } ; f"
	frm = !git fetch && git rebase -i origin/master
	frs = !git fetch && git rebase -i origin/staging
	fra = !git fetch && git rebase -i origin/acceptance
	frt = !git fetch && git rebase -i origin/test
	frd = !git fetch && git rebase -i origin/develop

	rh = reset --hard
	rs = reset --soft

	mt = mergetool

	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[rerere]
	enabled = 1
[core]
	editor = nano
	excludesfile = /Users/tom/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[sequence]
	editor = interactive-rebase-tool
	
